name: Development Support

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop, main ]

jobs:
  lint-and-format:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - uses: actions/setup-node@v4
      with:
        node-version: 22.x
        cache: 'npm'
    
    - run: npm install
    
    - name: Check build
      run: npm run build 2>&1 | tee build.log
    
    - name: Upload build log
      if: failure()
      uses: actions/upload-artifact@v3
      with:
        name: build-log
        path: build.log