name: Cleanup All Workflow Runs

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  cleanup:
    runs-on: ubuntu-latest

    steps:
      - name: Install GitHub CLI
        run: sudo apt-get install gh

      - name: Set token for GitHub CLI
        run: echo "GH_TOKEN=${{ secrets.WORKFLOW_CLEANUP }}" >> $GITHUB_ENV

      - name: Delete ALL workflow runs except this one
        run: |
          gh api repos/${{ github.repository }}/actions/runs \
            --paginate \
            --jq ".workflow_runs[] | select(.id != $GITHUB_RUN_ID) | .id" \
            | xargs -I{} gh api repos/${{ github.repository }}/actions/runs/{} -X DELETE
